h1{
    color: black;
    text-align: center;
} 
.primary{
    color: black;
}
.column{
    height: 300px;
    width: 31%;
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    border-radius: 40px;
}
p{
    padding: 10px;
}
main{display:flex

}
.photo{
    height: 100px;
    width: 100px;
}